.sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block {
    display: block;
}

.stickup {
    position: sticky;
    top: 0;
}

.cen {
    text-align: center;
}

.col {
    max-width: 48rem;
    margin: auto;
}

.nowrap {
    white-space: nowrap;
    overflow-x: auto;
}

.pad {
    padding: 1em 2.5em;
}

.space {
    margin: 1em;
}

.light {
    background-color: rgba(255, 255, 255, 0.4);
}

.dark {
    color: white;
    background-color: rgba(0, 20, 30, 0.5);
}

.dark a,
a.dark {
    color: white;
}

.gradient {
    background: linear-gradient(45deg, rgba(116,150,237,1) 0%, rgba(161,255,255,1) 51%, rgb(136, 218, 179) 100%);
}

.round {
    border-radius: 1em;
}

.code {
    unicode-bidi: embed;
    font-family: monospace;
}

.normal {
    font-weight: normal;
}

@media (min-width: 750px) {
    body {
        font-size: 20px;
    }
}

.ln-h-0 {
    line-height: 0;
}

.ln-h-lg {
    line-height: 1.9;
}