.optionbox-item.selected {
    padding-left: 0.5em;
    padding-right: 2em;

    &::before {
        left: -0.9em;
        opacity: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0.7em;
        right: 0.5em;
        width: 0;
        height: 0;
        border-left: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
        border-top: 0.5em solid gray;
    }
}