$time: 0.3s;

$light: white;
$mid: darkgray;
$dark: black;
$primary: deepskyblue;

.optionbox-item {
    display: block;
    position: relative;
    padding: 0.3em 0.5em 0.3em 2em;
    text-align: left;
    max-height: 4em;
    transition: all $time;

    &::before,
    &::after {
        top: 0.2em;
        font-style: normal;
        color: $mid;
    }

    &:hover::before,
    &:hover::after {
        color: $primary;
        transition: all $time;
    }

    &::before {
        content: "\0026AB";
        position: absolute;
        left: 0.6em;
    }

    &::after {
        content: "\0025BE";
        position: absolute;
        right: -1.2em;
        opacity: 0;
    }

    &.selected {
        padding-left: 0.5em;
        padding-right: 2em;

        &::before {
            left: -0.9em;
            opacity: 0;
        }

        &::after {
            opacity: 1;
            right: 0.3em;
        }
    }
}

.optionbox-group {
    display: inline-block;
    vertical-align: top;
}

.optionbox-group-label {
    display: block;
    color: $mid;
    padding: 0.3em 0.8em;
    transition: all $time;
}

.optionbox-alt {
    display: block;
    max-height: 2em;
    transition: all $time;
}

.optionbox-radio {
    /* hide visually but keep screen reader accessible */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.optionbox- {
    display: inline-block;
    vertical-align: top;
    color: $dark;
    background-color: $light;
    border: solid 1px $mid;
    overflow: hidden;

    &.closed  {
        .optionbox-item:not(.selected),
        .optionbox-alt,
        .optionbox-group-label {
            max-height: 0;
            padding-bottom: 0;
            padding-top: 0;
            overflow: hidden;
            opacity: 0;
        }

        .optionbox-group {
            display: inline;
        }
    }
}